.hexagon {
	margin-left: 33.33%;
	margin-top: 8%;
}

#hexagon1 {
    width: 100px;
    height: 55px;
    background: #4CAF50;
    position: relative;
    float: left;
}

#hexagon2 {
    width: 100px;
    height: 55px;
    background: #4CAF50;
    position: relative;
    margin-left: 10%;
    float: left;
}

#hexagon3 {
    width: 100px;
    height: 55px;
    background: #4CAF50;
    position: relative;
    margin-left: 40%; /*Margin left x4*/
}

/*/hexagons*/

#hexagon1:before, #hexagon2:before, #hexagon3:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #4CAF50;
}

#hexagon1:after, #hexagon2:after, #hexagon3:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #4CAF50;
}